.Wrapper {
  height: 100vh;
  width: 100%;
}

.FlexRow {
  display: flex;
  flex-direction: row;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.MainLevelOne {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5858ff;
}
.MainLevelOne .MainLevelTwo {
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.MainLevelOne .FlexSwap {
  display: flex;
  flex-direction: row;
}
.MainLevelOne img {
  height: 15em;
  margin-left: 30px;
  margin-top: 30px;
}
.MainLevelOne h1 {
  font-family: MavenPro;
  font-size: 6em;
  color: #1212af;
}
.MainLevelOne h6 {
  font-family: MavenPro;
  font-size: 1.5em;
  color: #FFFFFF;
  opacity: 0.5;
}
.MainLevelOne p {
  font-family: Consolas;
  font-size: 2em;
  color: #33ff33;
}

.CycleLevelOne {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1212af;
}
.CycleLevelOne .CycleLevelTwo {
  width: 90%;
  height: 200px;
  margin: 10px;
  justify-content: center;
  border-bottom: 3px solid #ff8333;
}
.CycleLevelOne .CycleLevelThree {
  width: 10%;
  align-items: center;
  justify-content: center;
}
.CycleLevelOne .CycleLevelFour {
  height: 100%;
  width: 25%;
  align-items: flex-end;
  justify-content: center;
}
.CycleLevelOne .CycleLevelFive {
  height: 100%;
  width: 65%;
  align-items: flex-start;
  justify-content: center;
}
.CycleLevelOne h1 {
  font-family: MavenPro;
  font-size: 5em;
  color: #ff8333;
}
.CycleLevelOne h4 {
  font-family: MavenPro;
  font-size: 4em;
  margin-left: 20px;
  color: #5858ff;
}
.CycleLevelOne img {
  transform: scale(0.25);
  opacity: 0.7;
}
.CycleLevelOne ul {
  font-family: Consolas;
  font-size: 1.5em;
  color: #33ff33;
  margin-left: 100px;
}
.CycleLevelOne span {
  font-family: MavenPro;
  font-size: 0.5em;
  opacity: 0.3;
  color: #5858ff;
}

.PortfolioLevelOne {
  height: calc fit-content;
  width: 100%;
  background-color: #5858ff;
}
.PortfolioLevelOne .PortfolioLevelTwo {
  height: fit-content;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.PortfolioLevelOne h1 {
  font-family: MavenPro;
  font-size: 6em;
  color: #33ff33;
  margin-top: 10%;
}
.PortfolioLevelOne h2 {
  font-family: MavenPro;
  font-size: 4em;
  color: #1212af;
  border-bottom: 3px solid #1212af;
}
.PortfolioLevelOne span {
  font-family: MavenPro;
  font-size: 0.5em;
  opacity: 0.2;
  color: #1212af;
}

.AboutLevelOne {
  height: fit-content;
  background-color: #1212af;
}
.AboutLevelOne .AboutLevelTwo {
  margin-top: 30px;
  justify-content: center;
}
.AboutLevelOne .AboutLevelThree {
  margin: 30px;
}
.AboutLevelOne h1 {
  font-family: MavenPro;
  font-size: 5em;
  color: #ff8333;
}
.AboutLevelOne h2 {
  font-family: Consolas;
  font-size: 2em;
  color: #33ff33;
}
.AboutLevelOne span {
  font-family: MavenPro;
  font-size: 0.5em;
  opacity: 0.3;
  color: #5858ff;
}

.ContactLevelOne {
  height: fit-content;
  background-color: #5858ff;
}
.ContactLevelOne .ContactLevelTwo {
  margin: 30px;
  justify-content: left;
}
.ContactLevelOne h1 {
  font-family: MavenPro;
  font-size: 6em;
  color: #33ff33;
}
.ContactLevelOne h2 {
  font-family: Consolas;
  font-size: 2em;
  color: #33ff33;
}
.ContactLevelOne span {
  font-family: MavenPro;
  font-size: 0.5em;
  opacity: 0.2;
  color: #1212af;
}

@font-face {
  font-family: Consolas;
  src: url(./fonts/consola.ttf);
}
@font-face {
  font-family: MavenPro;
  src: url(./fonts/MavenPro.ttf);
}

/*# sourceMappingURL=styles.css.map */
