$Primary: #5858ff;
$Secondary: #1212af;
$Tertiary: #ff8333;
$TertiaryTwo: #33ff33;
$White: #FFFFFF;
$Black: #000000;

.Wrapper {
    height: 100vh;
    width: 100%;
}

.FlexRow {
    display: flex; 
    flex-direction: row;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.MenuBar {
    height: 30px;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

.MainLevelOne {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $Primary;

    .MainLevelTwo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-right: 30px;
    }

    .FlexSwap {
        display: flex;
        flex-direction: row;
    }

    img { 
        justify-content: center;
        height: 15em;
    }

    h1 {
        text-align: center;
        font-family: MavenPro;
        font-size: 6em;
        color: $Secondary;
    }
    
    h6 {
        font-family: MavenPro;
        font-size: 1em;
        color: $White;
    }

    p {
        font-family: Consolas;
        font-size: 2em;
        color: $TertiaryTwo;
    }

}

.AboutLevelOne {

    flex-wrap: wrap;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    background-color: $Secondary;

    .AboutLevelTwo {
        width: 90%;
        height: 200px;

        margin: 10px;

        justify-content: center;

        border-bottom: 3px solid $Tertiary;

    }

    .AboutLevelThree {
        width: 10%;
        
        align-items: center;
        justify-content: center;

    }

    .AboutLevelFour {
        height: 100%;
        width: 25%;

        align-items: flex-end;
        justify-content: center;
    }

    .AboutLevelFive {
        height: 100%;
        width: 65%;

        align-items: flex-start;
        justify-content: center;
    }

    h1 {
        font-family: MavenPro;
        font-size: 5em;
        color: $Tertiary;
    }

    h4 {
        font-family: MavenPro;
        font-size: 4em;

        margin-left: 20px;
        color: $Primary;
    }

    img{
        transform: scale(.25);
        opacity: .7;
    }

    ul {
        font-family: Consolas;
        font-size: 1.5em;
        color: $TertiaryTwo;
        margin-left: 100px;
    }

}

@font-face {
    font-family: Consolas;
    src: url(./fonts/consola.ttf);
}

@font-face {
    font-family: MavenPro;
    src: url(./fonts/MavenPro.ttf);
}