/* Flexbox */

body {
    margin: 0;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.flex-content {
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.flex-swap-direction {
    flex-direction: row;
}

/* Images */

.icon {
    height: 50px;
    margin: 10px;
}

/* Typeography */

h1 {
    font-family: MavenPro, sans-serif;
    font-size: 100px;
    margin: 0;
}

p {
    font-family: Consola;
    font-size: 25px;
    color: white; 
}

/* Fonts */

@font-face {
    font-family: MavenPro;
    src: url(fonts/MavenPro.ttf);
}

@font-face {
    font-family: Consola;
    src: url(fonts/consola.ttf);
}

/*
Manipulators
Used to change 1 parameter from parent.
*/

.bg-darkgrey {
    background-color: darkgrey;
}

/* Animations */

.blink {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {

    0% {
        opacity: 0; }

    49% {
        opacity: 0; }

    50% {
        opacity: 1; }

    99% {
        opacity: 1; }

    100% {
        opacity: 0; }
}
